<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Run it my way</title>
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline';"
    />
    <link rel="stylesheet" type="text/css" href="../reset.css" />
    <link rel="stylesheet" type="text/css" href="../layout.css" />
    <link rel="stylesheet" type="text/css" href="./styles.css" />
  </head>
  <body>
    <header>
      <h1 id="title"></h1>
    </header>
    <main id="collections"></main>
    <footer>
      <div id="commands"></div>
    </footer>
    <div id="menu"></div>
    <script src="../../scripts/utils.js"></script>
    <script src="../../scripts/commands.js"></script>
    <script src="../../scripts/menu.js"></script>
    <script src="./renderer.js"></script>
  </body>
</html>
